<footer>
  {% if site.github_username %}
    <a href="{{ site.github.owner_url }}"><span class="icon icon--github">{% include icon-github.svg %}</span></a>
  {% endif %}

  {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
  {% endif %}

  {% if site.github.is_project_page %}
  <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
  {% endif %}
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
