<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
  <!--title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title-->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width , initial-scale=1, maximum-scale=2.0">
  <meta name="description" content="{{ site.description }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
  <!--link rel="icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon"-->

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/manifest.json">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#d1232a">
  <meta name="theme-color" content="#ffffff">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
