---
---
@import url(http://fonts.googleapis.com/css?family=Play|Cinzel+Decorative|Racing+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import "{{site.theme}}";

.avatar {
  padding:.5em;
  margin-bottom: 1.2em;
  border: 2px solid;
  box-shadow: 7px 7px 5px #888888;
  border-radius: 50px 15px;
}

h2 , h2 a{
  font-family: 'Racing Sans One', sans-serif;
  font-weight: normal;
  color:#D1232A;
}

.postdate {
  font-family: Ubuntu, sans-serif;
  color: #333;
}

section {
  padding:2em;
  margin-bottom: 2em;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
}

.post-nav a {
  display: inline-block;
  margin: .5em;
  padding:1.5em;
  border: 2px solid #727272;
  border-radius: 15px;
}

.post-nav a:hover {
  box-shadow: inset 2px 2px 4px 2px #bbb;
} 

section.pagination {
  padding: 1em;
  border: 0px solid;
  box-shadow: 0px 0px 0px #fff;
  text-align: center;
}

header ul a:hover {
  background-color:#D1232A;
}     

header ul a.active {
    background-color: #D1232A;
}

.logo {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: .3em;
  font-family: 'Racing Sans One', cursive;
  /*font-size: 12em;*/
}

a.readmore, .cin {
  font-family: 'Cinzel Decorative', cursive;
  color:red; 
  margin-left:-.12em;
}

a.readmore:hover {
  color: initial; 
  text-decoration: underline;
}

.logostar {
  color: red;
  font-size: .75em;
}

@media print, screen and (max-width: 480px) {
  .avatar {
    width: 120px;
    height: 120px;
  }
  #description {
    // display: none;
    font-size: .75em;
  }
}
